{{ define "title" }}
EG Levern
{{ end }}

{{ define "content" }}
<P><STRONG>Netzbetreiberwechsel zum 01.01.2012</STRONG><br/>
  Bekanntmachung nach § 25 Abs. 2 der Verordnung über Allgemeine Bedingungen für den Netzanschluss und dessen Nutzung für die Elektrizitätsversorgung in Niederspannung (Niederspannungsanschlussverordnung - NAV). <br /><br />
  Zum 01. Januar 2012 ging das Stromverteilnetz von der Elektrizitätsgesellschaft Levern eG an die Westfalen-Weser-Ems Verteilnetz GmbH über. Diese hat sich zum 01. Januar 2013 unter dem Dach der RWE Deutschland AG mit der  Rhein-Ruhr-Verteilnetz GmbH zur Westnetz GmbH zusammengeschlossen. 
  Weitere Informationen zum Netzzugang erhalten Sie von Westnetz GmbH (<a href="http://www.westnetz.de" target="_blank>"><u>www.westnetz.de</u></a>).	
  <br/><br/>
</P>    
<P><STRONG>Elektrizitätsgesellschaft Levern eG<BR>32351 Stemwede-Levern</STRONG></P>
<P>Gründungsjahr: 1919<BR>Mitglieder: z.Zt. ca. 450</P>
<P>Die Gesellschaft wurde gegründet, um nach dem Ersten Weltkrieg die Elektrifizierung im Ort Levern voranzutreiben.<BR>Das Stromnetz wurde in eigener Regie aufgebaut und bis heute kontinuierlich erweitert und modernisiert. Das Netz hat eine Länge von ca. 50 km und befindet sich im Eigentum der Genossenschaft.</P>
<P>Die Geschäftsleitung erfolgt ehrenamtlich durch&nbsp;4 Vorstandsmitglieder, diese werden durch 5 ehrenamtliche Aufsichtsratmitglieder überwacht.<BR>Die Gesellschaft beschäftigt 1 Geschäftsführerin in Teilzeit, die die erforderlichen Verwaltungsarbeiten durchführt.<BR>Die Geschäftstätigkeiten werden im Abstand von zwei Jahren durch einen externen Revisor geprüft.</P>
<P><BR><STRONG>Erwerb der Mitgliedschaft</STRONG> (nach Satzungsänderung v. 4.12.2015):</P>
<P>Die Mitgliedschaft wird auf einen gesonderten Vordruck beantragt.<BR>Je 100 &euro; Stromverbrauch im Jahr ist ein Geschäftsanteil zu je 10 &euro; zu erwerben.<BR>Dabei wird jedoch nur der erste Anteil mit einem Betrag von 10 &euro; eingezahlt.<BR>Die weiteren Einzahlungen auf die Geschäftsanteile bis zu ihrer vollen Summe erfolgt durch Einbehaltung eines Teiles der jährlich auszuschüttenden Warenrückvergütung.<BR>Nach vollständiger Einbezahlung wird die Warenrückvergütung voll ausgezahlt.<BR>Bei Kündigung der Mitgliedschaft wird nach Ablauf der entsprechenden Fristen das eingezahlte Geschäftsguthaben erstattet.<BR>Bei Eintritt in die Gesellschaft ist neben der Ersteinzahlung auf den ersten Geschäftsanteil (10,00 &euro;) ein Eintrittsgeld von ebenfalls 10,00 &euro; fällig, das bei Austritt aus der&nbsp;Gesellschaft nicht erstattet wird.</P>
<P><BR><STRONG>Nachschusspflicht</STRONG>:<BR><BR>Eine Nachschusspflicht für die Mitglieder besteht nicht.</P>
<P><STRONG>Kontakt</STRONG>:</P>
<P>Bei Interesse an einer Mitgliedschaft wenden Sie sich bitte an:<BR>Elektrizitätsgesellschaft Levern eG<BR>Heidi Helmich<BR>Osterland 2<BR>32351 Stemwede-Levern</P>
<P>Tel.: 05745/ 300082<BR>Fax: 05745/ 300083<BR></P>
<P>E-Mail: <A href="mailto:e-gesellschaft@t-online.de">e-gesellschaft@t-online.de</A></P>
{{ end }}
