body {
	background-color: #606060;
	margin: 0px;
}

#page {
	padding: 7px;
	margin-top: 22px;
	width: 883px;
	background-color: white;
	left: 50%;
	margin-left: -440px;
	position: absolute;	
}

#head {
	height: 209px;
	width: 883px;		
}

#pageNav
{
   width: 100% - 10px;  
   background-color:#cfdbef; /* #8ca4c5; */
   height: 25px;
   margin-top:2px;
   padding-left: 15px;
   padding-top: 2px;
}

a.nav 
{
	text-decoration: none;
	font-family: verdana, arial;
	font-size: 0.9em;
	color: #19498b;	
}

#navSpacer
{
  font-family: verdana, arial;
	font-size: 0.9em;
	color: #19498b;
}


#contentArea {
	width: 783px;
	min-height: 300px;
	float: left;
	clear: left;
	padding: 54px;	
}

.standartFont a {
			text-decoration: none;
	font-family: verdana, arial;
	font-size: 0.9em;
	color: #19498b;	
}

.standartFont {
	font-family: verdana, arial;
	font-size: 0.8em;
	color: #19498b;	
} 

ul {
	list-style-image: url(../images/liste.gif);
	list-style-position: outside;	
	margin-left: 16px;
	margin-top: -10px;
}

li a {
	text-decoration: none;
	font-family: verdana, arial;
	font-size: 0.9em;
	color: #19498b;	
}

.tableTop {
	height: 66px;
	width: 154px;
	background-color: #b3c1dd;	
	margin-left: 53px;
	padding: 2px 0px 0px 2px;
	float: left;
}

.centerContent {
	margin-bottom: 20px;	
	width: 775px;
	text-align: center;
}

.headFont {
	width: 362px;
	clear:left;
	float: left;
	font-weight: bold;
}

.bar {
	height: 25px;
	width: 775px;	
	background-color: #7a8ab7;
	clear: left;
	padding-top: 10px;
	padding-left: 5px;
	color: white;
	font-weight: bold;
	font-size: 0.9em;
}


/** Tabelle **/

table {
	margin-left: 36px;
	font-size: 1em;
	font-family: verdana, arial;
	color: #19498b;	
	border-spacing: 0px;
	border-collapse: 0px;
	border: 0px;
}





.tableEins {
	width: 223px;
}

.tableZwei {
	width: 151px;
}

.tableDrei {
	width: 153px;
	background-color: #b3c1dd;
	height: 21px;
}

.tableVier {
	width: 153px;
	background-color: #b3c1dd;	
}

.spacer2 {
	width: 52px;	
}

.spacer {
	width: 52px;	
}

.preis1 {
	width: 80px;
}

.preis2 {
	width: 73px;	
}

.tableText {
	width: 414px;
}

.table {
	margin-left: 0px;
	font-size: 0.9em;
	font-family: verdana, arial;
	color: #19498b;	
	border-spacing: 0px;
	border-collapse: collapse;
	width: 780px;
}

.tableTwo {
	font-size: 0.9em;
	font-family: verdana, arial;
	color: #19498b;	
	border-spacing: 0px;
	border-collapse: collapse;
	width: 744px;
}

#cockpit a {
  color: white;	
  text-decoration: none;;
  font-weight: bold;
  font-family: verdana;
  font-size: 0.8em;
  float: left;
  padding-left: 25px;
}

#cockpit {
  float: right;
}

#cockpitNavigation {
  margin-top: 2px;
	width: 883px;
	left: 50%;
	margin-left: -440px;
	position: absolute;	
}


/* Überarbeitete Tabellen Styles */

table
{
  clear: left;
  margin-left: 36px;
	
	border-spacing: 0px;
	border-collapse: 0px;
	border: 0px;
	
	font-size: 1em;
	font-family: verdana, arial;
	color: #19498b;	
	
	position: relative;
}

tr
{
  margin: 0px 8px;
}

th
{
  font-size: 7.5pt;
  font-weight: normal;
  text-align: left;
}

td
{
  padding: 2px 0px; 
  padding-left: 20px;
  
  position: relative;
}

th .headBox
{
  width: 150px;
  padding: 3px;
  margin-left: 60px;
  background-color: #B3C1DD;
}

th.blue
{
  padding: 3px;
  background-color: #B3C1DD;
}

tr.newGroup td
{
  padding-top: 18px;
  padding-left: 0px;
  font-weight: bold;
}

td.header
{
  padding: 8px 4px 2px 4px;
  
  background-color: #7A8AB7;
  color: white;
  font-weight: bold;
}

td.blue
{
  position: relative;
  background-color: #B3C1DD;

  text-align: right !important;
  padding-right: 100px !important;
  vertical-align: top;
}

td.blue strong
{  
  display: inline !important;
  
  position: absolute;
  /* margin-left: 20px; */
  margin-left: 0px !important;
                       
  width: 70px !important;
  text-align: right;
}

*html td.blue strong
{
  margin-left: 5px;
}
#cockpitLink {
    float: left;
}