body {
  background-color: #606060;
  font-size: 0.9em;
  font-family: verdana, arial;
  color: #19498b;
  text-color: #19498b;
}

#page {
  padding: 7px;
  margin-top: 22px;
  width: 883px;
  background-color: white;
  left: 50%;
  margin-left: -440px;
  position: absolute;
}

#head {
  height: 209px;
  width: 883px;
}

#pageNav
{
  width: 100% - 10px;
  background-color:#cfdbef; /* #8ca4c5; */
  height: 30px;
  margin-top:5px;
  padding-left: 54px;
  padding-top: 10px;
}

#pageNav span {
  margin-right: 20px;
}

#pageNav a
{
  text-decoration: none;
  font-family: verdana, arial;
  font-weight: bold;
  color: #19498b;
}

a {
  text-decoration: underline;
  font-family: verdana, arial;
  color: #19498b;
}

ul {
  list-style-image: url(../images/liste.gif);
  list-style-position: outside;
}

li {
  margin-top: .5em;
}

li a {
  text-decoration: none;
  font-family: verdana, arial;
  color: #19498b;
}

.tableTop {
  height: 66px;
  width: 154px;
  background-color: #b3c1dd;
  margin-left: 53px;
  padding: 2px 0px 0px 2px;
  float: left;
}

.centerContent {
  margin-bottom: 20px;
  width: 775px;
  text-align: center;
}

.headFont {
  width: 362px;
  clear:left;
  float: left;
  font-weight: bold;
}


#cockpit a {
  color: white;
  text-decoration: none;;
  font-weight: bold;
  font-family: verdana;
  font-size: 0.8em;
  float: left;
  padding-left: 25px;
}

#cockpit {
  float: right;
}

#cockpitNavigation {
  margin-top: 2px;
  width: 883px;
  left: 50%;
  margin-left: -440px;
  position: absolute;
}


#cockpitLink {
  float: left;
}

#contentArea {
  width: 783px;
  min-height: 300px;
  float: left;
  clear: left;
  padding: 20px 54px 54px 54px;
}

#contentArea h1 {
  font-size: 1.33em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

#contentArea h2 {
  font-size: 1.13em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* Unnecessary? */

.bar {
  height: 25px;
  width: 775px;
  background-color: #7a8ab7;
  clear: left;
  padding-top: 10px;
  padding-left: 5px;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
}

.spacer2 {
  width: 52px;
}

.spacer {
  width: 52px;
}

.preis1 {
  width: 80px;
}

.preis2 {
  width: 73px;
}

.tableText {
  width: 414px;
}
